.container {
    display: flex;
    flex-direction: column;
}

.container > div {
    width: 100%;
    margin: 10px 0;
}

.container > div > div {
    width: 100%;
}

.container div h2 {
    text-align: center;
    margin: 10px 0 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1rem;
}

.container div button {
    margin-top: 10px;
}

.textarea {
    width: 100%;
    background: #4e4e4e;
    color: #ffffff;
    border-radius: 0;
    border: none;
}