.container {
    display: flex;
    flex-direction: column;
}

.container > div {
    width: 100%;
    margin: 0.5rem 0;
}

.container > div > div {
    width: 100%;
}

.container div h2 {
    text-align: left;
    margin: 0.5rem 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 1rem;
}

.container div button {
    margin-top: 1rem;
}

.datepicker > div {
    width: 100%;
}

.datepicker div div button {
    margin-top: 0;
}

.textarea {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    background: #4e4e4e;
    color: #ffffff;
    border-radius: 0;
    border: none;
}