.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form div {
    display: block;
    width: 100%;
    font-size: 1rem;
}

.form div label,
.form div input {
    display: block;
}

.form div label {
    text-align: left;
    margin: 5px 0;
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}
