* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg: #151515;
  --fg: #ffffff;
  --fg-dim: #b3b3b3;
  --gray: #4e4e4e;
  --accent: #a35212;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);
}

#root {
  width: 100%;
  max-width: calc(480px + 2rem);
  padding: 1rem;
}

.electron * {
  user-select: none;
  -webkit-user-drag: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  text-align: left;
}

.center {
  text-align: center;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  border: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem;
  background: transparent;
  color: var(--fg-dim);
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  color: var(--fg);
}

button:disabled {
  color: var(--gray);
  font-weight: 100;
}

footer {
  margin-top: 2rem;
  border-top: 0.2px solid var(--fg-dim);
  color: var(--fg-dim);
}

footer a {
  color: var(--fg-dim);
  text-decoration: none;
}

footer a:hover {
  color: var(--fg);
}

footer > * {
  margin-top: 0.5rem;
}

input[type="file"] {
  width: 100%;
  display: none;
}
