* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #151515;
  color: #ffffff;
}

#root {
  width: 100%;
  max-width: calc(480px + 2rem);
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  text-align: left;
}

.center {
  text-align: center;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  border: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem;
  background: #151515;
  color: #b3b3b3;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

button:hover {
  color: #ffffff;
  font-weight: 700;
}

button:disabled {
  color: #666666;
  font-weight: 100;
}

footer {
  margin-top: 2rem;
  border-top: 0.2px solid #4e4e4e;
  color: #4e4e4e;
}

footer a {
  color: #4e4e4e;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer > * {
  margin-top: 0.5rem;
}

input[type="file"] {
  width: 100%;
  display: none;
}
